# Core Web Framework
flask
flask-cors

# NLP & ML Libraries
spacy
transformers
datasets
torch
tqdm

# Fuzzy Matching
fuzzywuzzy
python-Levenshtein  # optional but improves fuzzywuzzy speed

# Data Handling
pandas
numpy
